.PlayTable{
    background: url(../../images/table.png) repeat center center fixed;
	background-size: 100% 100%;
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
	padding-top: 20px;
	flex-grow: 1;
}

.dib_1{
	position: absolute; 
	width: 75px;
	height: 75px;
	line-height: 75px;
	border-radius: 50%;	
	font-size: 1.1em;
    font-weight: 600;
    text-align: center;
	color: black;
	left: 46%; 
  	bottom: 58%;
    background: url(../../images/fishkablue.png) no-repeat center;
    background-size: 100% 100%;
	z-index: 4;
	animation: dib_1 .5s linear;
}
	@keyframes dib_1{
	  0%  { left: 5%; 
	  		bottom: 5%;
	  	}
	  100% { left: 46%; 
	  		bottom: 58%;
	  	}
	}

.dib_5{
    position: absolute;
    width: 75px;
    height: 75px;
    line-height: 75px;
    border-radius: 50%;	
    font-size: 1.1em;
    font-weight: 600;
    cursor: pointer;
    color: black;
    left: 47%; 
    bottom: 58%;
    text-align: center;
    background: url(../../images/fishkablue.png) no-repeat center;
    background-size: 100% 100%;
    z-index: 5;
    animation: dib_5 0.5s linear;
}
    @keyframes dib_5{
          0%  { left: 5%; 
                  bottom: 5%;
              }
          100% { left: 47%; 
                  bottom: 58%;
              }
        }

.dib_25{
    position: absolute;
    width: 75px;
    height: 75px;
    line-height: 75px;
    border-radius: 50%;	
    font-size: 1.1em;
    font-weight: 600;
    color: black;
    left: 48%; 
    bottom: 58.5%;
    text-align: center;
    background: url(../../images/fishkayellow.png) no-repeat center;
    background-size: 100% 100%;
    z-index: 6;
    animation: dib_25 0.5s linear;
}
    @keyframes dib_25{
            0%  { left: 12%; 
                    bottom: 5%;
                }
            100% { left: 48%; 
                    bottom: 58.5%;
                }
        }
    
.dib_50{
    position: absolute;
    width: 75px;
    height: 75px;
    line-height: 75px;
    border-radius: 50%;	
    font-size: 1.1em;
    font-weight: 600;
    cursor: pointer;
    color: black;
    left: 49%; 
    bottom: 59%;
    text-align: center;
    background: url(../../images/fishkayellow.png) no-repeat center;
    background-size: 100% 100%;
    z-index: 7;
    animation: dib_50 0.5s linear;
}
    @keyframes dib_50{
            0%  { left: 12%; 
                    bottom: 5%;
                }
            100% { left: 49%; 
                    bottom: 59%;
                }
        }
.dib_100{
    position: absolute;
    width: 75px;
    height: 75px;
    line-height: 75px;
    border-radius: 50%;	
    font-size: 1.1em;
    font-weight: 600;
    cursor: pointer;
    color: black;
    left: 50%; 
    bottom: 58.5%;
    text-align: center;
    background: url(../../images/fishka1.png) no-repeat center;
    background-size: 100% 100%;
    z-index: 8;
    animation: dib_100 0.5s linear;
}
    @keyframes dib_100{
            0%  { left: 18%; 
                    bottom: 5%;
                }
            100% { left: 50%; 
                    bottom: 58.5%;
                }
        }
    
.dib_200{
    position: absolute;
    width: 75px;
    height: 75px;
    line-height: 75px;
    border-radius: 50%;	
    font-size: 1.1em;
    font-weight: 600;
    cursor: pointer;
    color: black;
    left: 51%; 
    bottom: 58%;
    text-align: center;
    background: url(../../images/fishka1.png) no-repeat center;
    background-size: 100% 100%;
    z-index: 9;
    animation: dib_200 0.5s linear;
}
    @keyframes dib_200{
            0%  { left: 18%; 
                    bottom: 5%;
                }
            100% { left: 51%; 
                    bottom: 58%;
                }
        }

.Button{
    position: absolute;
    right: 20px;
    top: 20px;
}
    
    