.Profile{
    background: url(../../images/tableFon.png) repeat center center fixed;
	background-size: 100% 100%;
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
	padding-top: 20px;
	flex-grow: 1;
}

.Profile > div{
	width: 100%;
	max-width: 600px;
	padding: 0 10px;
}

.Profile h1{
    text-align: center;
    color: #fff;
}
.Profile p{
    text-align: center;
    color: #fff;
}

.Buttons{
    text-align: center;
}