.DealerHand{
    position: absolute;
	top: 90px;
	height: 175px;
	padding: 0;
}

.DealerHand > p{
	float: left;
	width: 23px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	margin-right: 3px;
	margin-top: 0;
	color: #000;
	background-color: #fff;
	font-size: 1.1em;
	font-weight: 600;
}