.PlayButton{
    position: absolute;
    bottom: 50px;
    /* left: 575px; */
}

.btn{
	font-size: 1.25em;
	background-color: #E9C85F;
	border: none;
    color: #000; 
    margin-right: 10px;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
}
	.btn:hover{
		background-color: #000;
		color: #fff;
        border: none; 
        cursor: pointer;
    }
    .btn:disabled{
        cursor: not-allowed;
    }